.video {
    width:100%;
    height:auto;
}
.video img {
    width:100%;
    height:100%;
}
.tabbox {
    height:1rem;
    background:#fff;
    width:100%;
    max-width:750px;
    line-height:1.2rem;
    margin:1px auto 0;
    overflow:hidden;
    border-bottom:1px solid #ddd;
}
.tab {
    float:left;
    width:25%;
    text-align:center;
    font-size:0.25rem;
}
.table:first-of-type{
    border-left-color:#eee;
}
.active{
    color:#ff6600;
}

.info{
    display:none;
}
.info_show{
    display:block;
}
.info_key,.info_val {
    font-size:0.25rem;
    line-height:2;
    color:#fff;
    padding-left:0.27rem;
}
.info_key{
    background:#8DDCFA;
}
.info_val {
    background: #F0F0F0;
}
.info_val_active{
    background: #F0F0F0;
    color:#000;
}
.model {
    padding:0;
}
.prompt {
    line-height:1.5;
    font-size:0.25rem;
    text-indent: 2em;
}
.login_prompt {
    line-height:2;
    color:#000;

}
.comment {
    width:100%;
    height:3rem;
    border-radius:2px;
    border:1px solid rgba(92, 184, 92, 0.64);
    background:#fff;
    outline: none;
    /*resize: none;*/
    padding:0.185rem;
}
.comment[disabled]{
    background: rgb(235, 235, 228);
}
.comment_btn {
    line-height:1;
    font-size:0.2rem;
    color:#fff;
    background: #449d44;
    border:0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding:0.2rem 0.27rem;
    outline:none;
    margin-top:0.2rem;
    float:right;
}

.pay{
    width:100%;
    height:1rem;
    line-height:1rem;
    background:#ff0000;
    color:#fff;
    padding:0 0.27rem;
   /*  position:fixed;
    left:0;
    bottom:0; */
    position: fixed;
    bottom: 1.2rem;
}
.price {
    float:left;
    font-size:0.2rem;
}
.go_pay{
    float:right;
    padding:0.15rem 0.25rem;
    line-height:1;
    font-size:0.2rem;
    background: #FEE97D;
    color:#E9623C;
    border:0;
    outline:none;
    border-radius:2px;

}

.model {
    width:6.96rem;
}